<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor = "let food of foods">
        <a>
            <img src="{{food.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite?'':'not'}}">
                    ♥
                </span>
                <div class="stars">
                    <igc-rating [value]="food.stars" min="1" max="5" ></igc-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="clock">
                        <span>⏰</span>
                        {{food.cookTime}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{food.price|currency}}
                    </span>
                </div>
            </div>
        </a>        
    </li>
</ul>


